.product-carousel{
    position: relative;
    overflow: hidden;
    padding: 30px;
}
.cards-group2{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.mycard2{
    max-width: 220px;
    min-width: 220px;
    height: 450px;
    border-radius: 15px;
    margin: 10px;
    color: rgb(23, 25, 27);
    overflow: hidden;
}
.mycard2 h6,h4{
    margin-bottom: 0px;
    margin-left: 20px;
}
.mycard_img_box img{
    height: 300px;
    width: 220px;
    border-radius: 15px;
}
.mycard_img_box img:hover{
    height: 310px;
    width: 230px;
}
@media only screen and (max-width: 874px){
    .mycard2{
        border-radius: 10px;
        max-width: 420px;
        min-width: 420px;
        height: 450px;
        border-radius: 15px;
        margin: 10px;
        color: rgb(23, 25, 27);
    }
    .mycard_img_box img{
        height: 300px;
        width: 420px;
        border-radius: 15px;
    }
}
@media only screen and (max-width: 520px){
    .mycard2{
        border-radius: 10px;
        max-width: 320px;
        min-width: 320px;
        height: 450px;
        border-radius: 15px;
        margin: 10px;
        color: rgb(23, 25, 27);
    }
    .mycard_img_box img{
        height: 300px;
        width: 320px;
        border-radius: 15px;
    }
}